{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">



                        <div class="form-group">
                            <label>Car</label>
                            <select name="Car" class="form-control" id='Car'>
                                <option value="">----</option>
                                {% for Car in Cars  %}
                                <option value="{{Car.id}}">{{Car.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Season</label>
                            <select name="Season" class="form-control" id='Season'>
                                <option value="">----</option>
                                {% for Season in Season  %}
                                <option value="{{Season.id}}">{{Season}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group"><div  style="display: none;" class="alert alert-danger" id='error_trips'></div>
                                <div class="alert alert-success" id='success_trips' style="display: none;"></div>
                             <button type="button" id='fetch_trips' class="btn btn-success btn-block">Fetch trips</button>
                        </div>
                    <!-- /.card-body -->
                    
                        
                               
                            <div class="form-group" style="display: none;" id="trips_block">
                            <div class="form-group">
                                <label>trips Date</label>
                                <select name="trips_date" id='trips_date' class="form-control">
                               
                                </select>
                            </div>
                            <div class="form-group">
                                
                            <div id="fetch_booking_block" style="display: none;">
                                <button type="button" id='fetch_booking' class="btn btn-success btn-block">Fetch bookings</button>

                            <!-- <button style="display: none;" type="button" id='save_trips' class="btn btn-primary btn-block">Save Data</button> -->

                            </div>
                            <div id='booking_data' class="card-footer">

                            </div>
                        </div>
                    </div>  
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script>
    $(document).ready(function () {
        $("#fetch_trips").click(function(){
            var Car = $("#Car").val()
            var Season = $("#Season").val()
            if (Season.length < 1 || Car.length < 1){
                $("#error_trips").html("Kindly Choose Both Car and Season")
                $("#trips_block").hide()
                $("#error_trips").show()
                return false
            }
            $.ajax({
                url: "{% url 'get_trips' %}",
                type: 'POST',
                data:{
                    Car:Car,
                    Season:Season
                }
            
            }

            ).done(function(response){
                var json_data = JSON.parse(response)
                if (json_data.length > 0){

                    var html = "";
                    for (key in json_data){
                        html += "<option value='"+json_data[key]['id']+"'>"+json_data[key]['trips_date']+"</option>"
                    }
                    $("#trips_date").html(html)
                    $("#error_trips").hide()
                    $("#error_trips").html("")
                    $("#trips_block").show()  
                    $("#fetch_booking_block").show()
                }else{
                    $("#error_trips").html("No trips Date Found For Specified Data")
                    $("#error_trips").show()
                    $("#trips_date").html("")
                    $("#trips_block").hide()


                }
            }).fail(function(response){
                alert("Error While Fetching Data")
                $("#error_trips").html("")
                $("#error_trips").show()
                $("#trips_block").hide()


            })
        })

        $("#fetch_booking").click(function () {
            var trips_date = $("#trips_date").val()
            $("#booking_data").html(null)
if (trips_date.length  == 0){
    alert("Please Choose A Date");
    $("#save_trips").hide()

    return false;
}
            $.ajax({
                url: "{% url 'get_booking_trips' %}",
                type: 'POST',
                data: {
                    trips_date_id:trips_date,
                }
            }).done(function (response) {
                var json_data = JSON.parse(response)
                if (json_data.length < 1) {
                    alert("No data to display")
            $("#save_trips").hide()

                } else {
            $("#save_trips").show()

                    var div_data = "<hr/><div class='form-group'></div><div class='form-group'> <label>booking trips</label><div class='row'>"

                    for (key in json_data) {
                        div_data += "<div class='col-lg-3'><div class='form-check custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' " + (json_data[key]['status'] ? "checked='checked'" : "")+" name='booking_data[]' value=" + json_data[key]['id'] + " id='checkbox" + json_data[key]['id'] + "' /> <label for='checkbox" + json_data[key]['id'] + "' class='custom-control-label'>" + json_data[key]['name']  + (json_data[key]['status'] ? " [Present] " : " [Absent] ")+"</label></div> </div>"
                    }
                    div_data += "</div></div>"
                    div_data += "<div class='form-group'><button id='save_trips' class='btn btn-success' type='button'>Save trips</button></div>"
                    $("#booking_data").html(div_data)
                }
            }).fail(function (response) {
                alert("Error in fetching bookings")
            })

        })
        $(document).on('click', '#save_trips', function () {
            //$(this).attr("disabled","disabled")
            $(this).text("Updating trips Data...")
            var booking_data = $("input[name='booking_data[]']").map(function () {
                if ($(this).is(":checked")){
                return {'id':$(this).val(), 'status': 1};

                }
                return {'id':$(this).val(), 'status': 0};

            }).get()
      
            booking_data = JSON.stringify(booking_data)
            var trips_date = $("#trips_date").val()
            $.ajax({
                url: "{% url 'update_trips' %}",
                type: 'POST',
                data: {
                    date: trips_date,
                    booking_ids: booking_data,
                }
            }).done(function (response) {
                if (response == 'OK'){
                    alert("Updated")
                }else{
                    alert("Error. Please try again")
                }
                location.reload()
                
            }).fail(function (response) {
                alert("Error in saving trips")
            })

        })
    })
</script>
{% endblock custom_js %}